@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   TODO: Customize Foundation with SASS and compile.
   http://foundation.zurb.com/forum/posts/927-full-width-layouts
   ========================================================================== */

html,
body {
    height: 100%;
    min-height: 100%;
    position: relative;
}
/* fixed nav with css body shift */
body {
    padding-top: 65px;
}
[data-magellan-expedition],
[data-magellan-expedition-clone] {
    background: 0 none;
}

h1, h2, h3, h4, h5, h6, p {
    color: inherit;
    font-weight: inherit;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.sub-nav dt,
.sub-nav dd,
.sub-nav li {
    font-family: 'Montserrat', sans-serif;
}

.column-wrap {
    padding: 84px 0;
}

.column-row-item {
    padding: 40px 0 10px;
}

span.error,
small.error {
    display: block;
    font-size: 0.75rem;
    margin-top: -1px;
    padding: 0.375rem 0.5625rem 0.5625rem;
    background: #971D09;
    color: #FFFFFF;
}

.sub-nav dt.active a,
.sub-nav dd.active a,
.sub-nav dd.active a:active,
.sub-nav dd.active a:hover,
.sub-nav li.active a {
    background: 0 none;
    border-bottom: 4px solid #fff;
    cursor: default;
    font-weight: normal;
    padding: 0.1875rem 1rem;
}

#form-contact .row {
    padding: 10px 0;
}

.row { max-width: 100%; padding: 0; }

.row.hero { background-image: linear-gradient( to right, #2C3351, #227188 ); }
.row.hero p { font-size: 38px; font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 52px; font-weight: lighter; }
.row.hero .column-wrap { padding: 84px 0 149px; }

.row.blurb-row { }
.row.blurb-row p { font-size: 24px; line-height: 34px; }

.row.green-row { background-color: #16B19E; }
.row.blue-row { background-image: linear-gradient( to right, #2367AE, #3A9EE0 ); }

.row.strategy-row { background-color: #333333; }
.row.strategy-row h4 { font-size: 22px; padding: 33px 0 12px; }
.row.strategy-row p { font-size: 16px; line-height: 24px; }
.row.strategy-row img { height: 150px; width: auto; }

.row.our-approach-row h4 { font-size: 24px; }
.row.our-approach-row h5 { font-size: 22px; }
.row.our-approach-row p { font-size: 16px; }
.row.our-approach-row img { padding-left: 10px; }
.row.our-approach-row .column-row-item { padding: 33px 0 0; }

.row.about-us-row { background-image: linear-gradient( to right, #2C3351, #227188 ); position: relative; }
.row.about-us-row h4 { font-size: 24px; }
.row.about-us-row .column-row-item { padding: 33px 0 0; }
.row.about-us-row .bazoon-logo { position: absolute; right: 10%; top: 180px; }
.row.about-us-row .bazoon-logo span { vertical-align: middle; display: table-cell; }

.row.our-tools-row { font-weight: bold; }
.row.our-tools-row h4 { font-size: 24px; font-weight: normal; line-height: 34px; }
.our-tools-row img { max-width: 250px; padding: 15px; }

.row.contact-us-row { background-color: black; }
.row.contact-us-row h4 { font-size: 38px; line-height: 52px; font-weight: 300; }
.row.contact-us-row input[type="text"],
.row.contact-us-row textarea { background-color: #444; border: 1px solid #444; color: #fff; height: 48px; }
.row.contact-us-row textarea { height: 150px; }
.row.contact-us-row .column-row-item { padding: 33px 0 0; }

.row.footer { padding: 30px 0; background-color: #333; }
.row.footer p { margin: 0; }
.row.footer ul { list-style-type: none; margin: 0; padding: 0; }
.row.footer ul li { display: inline-block; margin: 0 15px; }
.row.footer ul li a,
.row.footer ul li a:active,
.row.footer ul li a:hover { color: #A19E9E; text-decoration: none; }

#form-contact-success-prompt {
    margin: 30px 0 0;
}

.text-white {
    color: #fff;
}

.text-gray-dark {
    color: #555;
}

.text-gray {
    color: #4A4A4A;
}

ul.header-nav { list-style-type: none; margin: 10px 0 22px; }
ul.header-nav li { display: inline-block; }
ul.header-nav li a { color: #fff; margin: 0 15px; text-transform: capitalize; padding: 5px; }
ul.header-nav li.active a { border-bottom: 3px solid #fff; }



/* ==========================================================================
   Foundation overrides.
   ========================================================================== */

.top-bar { 
    background: transparent; 
    height: 65px;
    line-height: 65px;
}
.top-bar.expanded {
    background: linear-gradient( to right, #2C3351, #227188 );
    height: auto;
}
.top-bar.expanded .title-area { background: transparent; }
.top-bar.expanded .toggle-topbar a { color: #fff; }
.top-bar.expanded .toggle-topbar a span::after { box-shadow: 0 0 0 1px #ffffff, 0 7px 0 1px #ffffff, 0 14px 0 1px #ffffff; }

.contain-to-grid {
    width: 100%;
    background: linear-gradient( to right, #2C3351, #227188 );
}
.top-bar .name {
    height: 65px;
}
.top-bar .name h1 {
    line-height: 65px;
}
.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
    padding: 0;
}
.top-bar .title-area {
    padding-left: 20px;
}
.title-area li.name h1 a img {
    width: 150px;
}
[data-magellan-expedition],
[data-magellan-expedition-clone] {
    background: none;
    min-width: initial;
    padding: 0;
}

/* ==== full with top bar ==== */
/*.contain-to-grid .top-bar {
    max-width: 100%;
}*/

/* ==== site content width top bar ==== */
@media only screen and (min-width: 40.0625em) {
    .contain-to-grid .top-bar {
        max-width: 91.66667%;
    }
}
@media only screen and (min-width: 64.063em) { 
    .contain-to-grid .top-bar {
        max-width: 75%;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen {}

@media only screen and (min-width: 35em) {}

/* max-width 640px, mobile-only. */
@media only screen and (max-width: 40em) {
    .row.hero p { font-size: 1.375rem; line-height: 2.125rem; font-weight: 200; letter-spacing: 1px; }
    .row.hero .column-wrap { padding: 60px 0 110px; }

    .row.our-approach-row h4 { font-size: 22px; }
    .row.our-approach-row h5 { font-size: 20px; }
    .row.our-approach-row p { font-size: 14px; }
    .row.our-approach-row img { padding: 0; }
    .row.our-approach-row .column-row-item { padding: 20px 0 0; }

    .row.blurb-row p { font-size: 18px; line-height: 24px; }

    .row.strategy-row img {
        height: 100px;
    }

    .column-wrap {
        padding: 48px 0;
    }

    .mobile-top-padding-none {
        padding-top: 0px;
    }

    .row.footer p { margin: 0 0 15px; }
    .row.footer ul { display: block; text-align: left; }
    .row.footer ul li { display: block; margin: 0; }

    ul.header-nav.right { text-align: center; float: none !important; }
    ul.header-nav li { display: inherit; margin: 10px 0; }
    ul.header-nav li a { padding: 5px 0; }
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
    .row.footer ul li { margin: 0 5px; }
    ul.header-nav li a {
        line-height: 65px;
    }
    ul.header-nav {
        margin: 0;
    }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { }

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { }

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) { }

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { }

/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) { }

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; 
    overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0;
    overflow: visible; position: static; width: auto; }

.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.fixed-top {
    position: fixed; 
    top: 0;
    z-index: 9; 
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
